<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js Visualization Template</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <h1>D3.js Dynamic Visualizations Template</h1>
    <div id="charts">
        <div id="bar-chart" class="chart-container"></div>
        <div id="line-chart" class="chart-container"></div>
        <div id="scatter-plot" class="chart-container"></div>
        <div id="pie-chart" class="chart-container"></div>
        <div id="histogram" class="chart-container"></div>
        <div id="bubble-chart" class="chart-container"></div>
    </div>
    <script src="main.js"></script>
</body>

</html>